version: "3.9"

services:    
  # Juno testnet endpoints
  rpc:
    image: "reecepbcups/rpc-cache:0.0.10"
    network_mode: "host"
    environment:
      - REMOTE_CONFIG_TIME_FILE=https://raw.githubusercontent.com/Reecepbcups/cosmos-endpoint-cache/main/configs/cache_times.json       
      - RPC_WORKER_THREADS=2
      - RPC_PREFIX=unirpc
      - ENABLE_COUNTER=false
      - USE_BACKUP_AS_PRIMARY=false
      - RPC_URL=http://5.161.80.115:26657
      - BACKUP_RPC_URL=http://5.161.80.115:26657
      - RPC_WEBSOCKET=ws://5.161.80.115:26657/websocket
      - BACKUP_RPC_WEBSOCKET=ws://5.161.80.115:26657/websocket
      - RPC_LISTEN_ADDRESS=HIDDEN
      - NODE_MONIKER="testing"
      - NODE_TM_VERSION=HIDDEN
      - COINGECKO_ENABLED=true
      # - COINGECKO_API_KEY="HERE"
      - COINGECKO_CACHE_SECONDS=6 # do not change if you do not have an API key.
      - COINGECKO_IDS=cosmos,juno-network,osmosis,canto
      - COINGECKO_FIAT=usd,eur,gbp
      - RPC_TITLE=Docker RPC cache
      - RPC_CUSTOM_TEXT=<a href="https://twitter.com/Reecepbcups_/status/1617396571188133888?s=20&t=OKi00IkStINFqYVweZXlaw">Custom caching solution active</a><br><a href="https://juno-api.reece.sh">My Juno REST API</a><br>
    ports:
      - "5001:5001"

  # Juno mainnet endpoints
  api:
    image: "reecepbcups/api-cache:0.0.10"
    network_mode: "host"
    environment:
      - REMOTE_CONFIG_TIME_FILE=https://raw.githubusercontent.com/Reecepbcups/cosmos-endpoint-cache/main/configs/cache_times.json      
      - REST_PREFIX=unirest
      - REST_WORKER_THREADS=1
      - REST_URL=http://15.204.143.232:1317
      - BACKUP_REST_URL=https://api.juno.strange.love
      - ENABLE_COUNTER=false
      - NODE_MONIKER="testing"
      - API_TITLE=Docker REST
      - DISABLE_SWAGGER_UI=false
    ports:
      - "5000:5000"