# python3 -m pip install -r requirements/requirements.txt
# sudo python3 -m pip install -r requirements/requirements.txt
python-dotenv

websocket-client # import websocket
rel

redis
httpx

Flask
flask_caching
flask-sock
Flask-SocketIO
flask-cors

uwsgi
gunicorn

pycoingecko