# python3 -m pip install -r requirements/requirements.txt
# sudo python3 -m pip install -r requirements/requirements.txt
python-dotenv

websocket-client # import websocket
rel

redis
httpx

Flask
flask_caching
flask-sock
Flask-SocketIO
flask-cors

uwsgi
gunicorn

Werkzeug==0.14.1
uWSGI==2.0.17.1

pycoingecko